* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgb(0, 102, 0);
  font-family: "Afacad", sans-serif;
  /* border: 1px solid transparent;
  border-color: red; */
}

.title {
  margin: 8px auto;
  text-align: center;
  font-size: 36px;
}
.title h1 {
  font-family: "Allura", cursive;
}

.recipes {
  text-align: center;
}

h2 {
  margin-top: 16px;
  color: rgb(0, 102, 0);
}

ul {
  padding: 8px;
}

.item {
  display: inline-block;
  border-radius: 10px;
  padding: 0;
  margin: 0 10px;
}

.item img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

li a {
  display: block;
  padding: 4px;
  text-decoration: none;
  color: rgb(0, 102, 0);
  font-weight: 700;
}

.info {
  margin: 16px auto;
  width: 85%;
  display: flex;
  background-color: rgb(245, 248, 250);
}

.info img {
  width: 400px;
  height: auto;
  object-fit: cover;
}

.info .details {
  margin: 16px 8px 16px 16px;
}

.details p {
  color: black;
}

.guide {
  display: flex;
}
.ingredients {
  margin-left: 68px;
  padding: 8px 8px;
  width: 30%;
  background-color: rgb(245, 248, 250);
}

.ingredients h3 {
  font-size: 12px;
}

.ingredients ul {
  padding-left: 16px;
}

.ingredients li {
  margin-bottom: 4px;
}

.ingredients li p {
  color: black;
  font-size: 12px;
}

.steps {
  width: 53%;
  margin-left: 18px;
  padding: 8px 8px;
  background-color: rgb(245, 248, 250);
}

.steps h3 {
  font-size: 12px;
}

.steps ol {
  padding-left: 16px;
}

.steps li {
  margin-bottom: 4px;
}

.steps li p {
  color: black;
  font-size: 12px;
}

.backlink {
  margin-left: 68px;
  padding: 8px 0;
  font-size: 12px;
}
