* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgb(0, 102, 0);
  font-family: "Afacad", sans-serif;
  /* border: 1px solid transparent; */
  /* border-color: red; */
}

.title {
  margin: 8px auto;
  text-align: center;
  font-size: 36px;
}
.title h1 {
  font-family: "Allura", cursive;
}

.recipes {
  text-align: center;
}

h2 {
  margin-top: 16px;
  color: rgb(0, 102, 0);
}

ul {
  padding: 8px;
}

.item {
  display: inline-block;
  border-radius: 10px;
  padding: 0;
  margin: 0 10px;
}

.item img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

a {
  display: block;
  padding: 4px;
  text-decoration: none;
  color: rgb(0, 102, 0);
  font-weight: 700;
}
